<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDKDemo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SDKDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payments.PaymentStatusActivity"
            android:exported="true">
            <intent-filter android:label="TrueLayer Payment Status">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs beginning with "truelayer://demo” -->
                <!-- Make sure to add to `Allowed redirect URIs` here https://console.truelayer-sandbox.com/settings/ -->
                <data
                    android:host="demo"
                    android:scheme="truelayer" />
            </intent-filter>
        </activity>
        <activity android:name=".integrations.ActivityIntegrationActivity" />
        <activity android:name=".integrations.ActivityXIntegrationActivity" />
        <activity android:name=".integrations.ComposeIntegrationActivity" />
        <activity android:name=".integrations.JavaIntegrationActivity" />
    </application>

</manifest>